header {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
  text-align: center;
}

header h1 {
  margin: 20px 10px;
}

@media (max-width: 700px) {
  header {
    font-size: large;
  }
}
@media (max-width: 500px) {
  header {
    font-size: medium;
  }
}
